<!--Main Navigation-->

<div class="col-auto px-0">
    <div id="sidebar" class="collapse collapse-horizontal show border-end">
        <div id="sidebar-nav" class="rounded-0 text-sm-start min-vh-100">
            <div class="sidebar-menu-wrapper">
                <a class="navbar-brand" style="margin-left: 20px;" href="/">
                    <img src="{{ url_for('static',filename='images/misp.png') }}" height="55" alt="Misp Logo" loading="lazy" />
                </a>
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="/" class="list-group-item list-group-item-action text-nowrap" aria-current="true">
                        <i class="fa-solid fa-house fa-fw me-3"></i><span>Home</span>
                    </a>
                    {% if session.admin_user %}
                        {% if current_user.is_authenticated %}
                            <a style="margin-top: 30px;" href="/history" class="list-group-item list-group-item-action text-nowrap">
                                <i class="fa-solid fa-clock-rotate-left fa-fw me-3"></i><span>History</span>
                            </a>
                            {%endif%}
                    {%else%}
                        <a style="margin-top: 30px;" href="/history" class="list-group-item list-group-item-action text-nowrap">
                            <i class="fa-solid fa-clock-rotate-left fa-fw me-3"></i><span>History</span>
                        </a>
                    {%endif%}
                    <a style="margin-top: 30px;" href="/history_session" class="list-group-item list-group-item-action text-nowrap">
                        <i class="fa-solid fa-clock fa-fw me-3"></i><span>History Session</span>
                    </a>
                    <a style="margin-top: 30px;" href="/history_tree" class="list-group-item list-group-item-action text-nowrap">
                        <i class="fa-solid fa-timeline fa-fw me-3"></i><span>History Tree</span>
                    </a>
                    {% if session.admin_user %}
                        {% if current_user.is_authenticated %}
                            <a style="margin-top: 30px;" href="/modules_config" class="list-group-item list-group-item-action text-nowrap">
                                <i class="fa-solid fa-gear fa-fw me-3"></i><span>Config</span>
                            </a>
                        {%endif%}
                    {%else%}
                        <a style="margin-top: 30px;" href="/modules_config" class="list-group-item list-group-item-action text-nowrap">
                            <i class="fa-solid fa-gear fa-fw me-3"></i><span>Config</span>
                        </a>
                    {%endif%}
                    {% if session.admin_user %}
                        {% if current_user.is_authenticated %}
                            <a style="margin-top: 30px;" href="/external_tools" class="list-group-item list-group-item-action text-nowrap">
                                <i class="fa-solid fa-link fa-fw me-3"></i><span>External tools</span>
                            </a>
                        {%endif%}
                    {%else%}
                        <a style="margin-top: 30px;" href="/external_tools" class="list-group-item list-group-item-action text-nowrap">
                            <i class="fa-solid fa-link fa-fw me-3"></i><span>External tools</span>
                        </a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>


<!--Main Navigation-->
