*.pyc
*.swp
bodyvirustotal.json
__pycache__
build/
dist/
misp_modules.egg-info/

# For MKDOCS
docs
docs/*
site
site/*

#pycharm env
.idea/*

#venv
venv*
.venv/

#vscode
.vscode*
*.sqlite
website/conf/config.cfg
wheels
