/* Sidebar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	/* padding: 65px 0 0;  */
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
	width: 200px;
	z-index: 600;
}

.sidebar .active {
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#search-form{
  	margin-left: auto;
}

.container{
  	margin-left: 0;
}

.fa-circle {
	font-size: 40%;
	margin-right: 3px;
	vertical-align: middle;
}